header {
    background: url("../../assets/img/Encabeazado.jpg")no-repeat center center;
    background-size: cover;
}

@media (min-width: 768px) {
    .view {
        overflow: visible;
        margin-top: -56px;
    }
}

.navbar {
    z-index: 1;
}

html,
body,
header,
.view {
    height: 100%;
}

#titulo {
    text-align: center;
    font-family: Arial Black;
    font-weight: bold;
    font-size: 30px;
    color: #ff0;
}

#subtitulo,
#texto {
    color: #AB0707;
    font-weight: bolder;
    text-shadow: 1px 1px 2px #fff;
}

a {
    color: #ff0;
}