html,
body,
header,
.view {
    height: 100%;
}

.intro-2 {
    background: url("../../assets/img/empanadas.jpeg")no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: yellow;
}

@media only screen and (max-width: 200px) {
    #cabecera {
        background-color: yellow;
    }
}

#letras {
    color: yellow;
}