footer {
    background-color: white;
    bottom: 0px;
    width: 100%;
}

p {
    color: firebrick;
    font-weight: bolder;
}

a {
    color: firebrick;
    font-weight: bolder;
    text-align: center;
}

img {
    width: 30%;
}