<!-- Footer -->
<footer class="page-footer font-small indigo text-center">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">LAS EMPANADAS DE TODO EL MUNDO</h5>

                <ul class="list-unstyled">
                    <li class="nav-item active">
                        <a class="nav-link" [routerLink]="['empanadas']">Empanadas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['arepas']">Arepas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['humitas']">Humitas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['pasteles']">Pasteles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['otros']">Otros</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">REDES SOCIALES</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!"> <i class="fa fa-facebook" aria-hidden="true">pedir facebook</i></a>
                    </li>
                    <li>
                        <a href="#!">pedir instagram<i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#!">pedir youtube<i class="fa fa-youtube" aria-hidden="true"></i></a>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">SERVICIO A DOMICILIO</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="tel:+34604287934">llama a 604287934</a>
                    </li>
                    <li>
                        <a href="tel:+912256964">llama a 912256964</a>

                    </li>

                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">NOS ENCONTRAMOS EN :</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>Calle de la Laguna 52 - Madrid(frente al Carrefour)</p>
                        <p><img src="../../assets/img/MetroMadridLogo.svg.png">Vista Alegre Linea 5</p>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->



</footer>
<!-- Footer -->