footer {
    background-color: rgb(243, 237, 148);
    bottom: 0px;
    width: 100%;
}

p {
    color: firebrick;
    font-weight: bolder;
}

a {
    color: firebrick;
    font-weight: bolder;
    text-align: center;
}

img {
    width: 20%;
}