<!--navigation-->
<div class="color">
    <div class="navbar navbar-inverse navbar-fixed-left d-none d-md-block">
        <ul class="nav navbar-nav ">
            <li>
                <a href="#home"><img src="../../assets/img/bandera ecuador.png"></a>
            </li>
            <li>
                <a href="#info"><img src="../../assets/img/bandera peru.png"></a>
            </li>
            <li>
                <a href="#love"><img src="../../assets/img/bandera ecuador.png"></a>
            </li>
            <li>
                <a href="#work"><img src="../../assets/img/bandera ecuador.png"></a>
            </li>
            <li>
                <a href="#contact"><img src="../../assets/img/bandera ecuador.png"></a>
            </li>
        </ul>

    </div>
</div>


<!--end navigation-->