<div class="container">
    <div class="row">
        <!-- Submenu de empanadas -->
        <div class="col-md-2">
            <div class="navbar navbar-inverse navbar-fixed-left d-none d-md-block">
                <ul class="nav navbar-nav ">
                    <li>
                        <a [routerLink]="['empanadas-mundo']"><img src="../../assets/img/globo latinoamerincano.png"></a>
                    </li>
                    <li>
                        <a [routerLink]="['empanadas-colombia']"><img src="../../assets/img/Banderas/bandera-colombia.svg"></a>
                    </li>
                    <li>
                        <a [routerLink]="['empanadas-peru']"><img src="../../assets/img/Banderas/bandera-peru.svg"></a>
                    </li>
                    <li>
                        <a [routerLink]="['empanadas-ecuador']"><img src="../../assets/img/Banderas/bandera-ecuador.svg"></a>
                    </li>
                    <li>
                        <a [routerLink]="['empanadas-paraguay']"><img src="../../assets/img/Banderas/bandera-paraguay.svg"></a>
                    </li>
                    <li>
                        <a [routerLink]="['empanadas-bolivia']"><img src="../../assets/img/Banderas/bandera-bolivia.svg"></a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Cuepro de otros -->

        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>