/* CSS used here will be applied after bootstrap.css */

.navbar-fixed-left {
    width: 0px;
    border-radius: 0;
    height: 0%;
}

.navbar-fixed-left .navbar-nav>li {
    float: none;
    /* Cancel default li float: left */
    width: 10px;
}

.navbar-fixed-left+.container {
    padding-left: 160px;
}

.wrapper {
    margin-left: 140px;
}

img {
    width: 900%;
    padding: 8px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}