.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

#tabla {
    margin: auto;
    background-position: 0px -90px;
    background-repeat: no-repeat;
    background-size: cover;
}

h4 {
    text-align: center;
    color: #ff0;
}

td {
    text-align: center;
    font-weight: 700;
    color: white;
    border: 1px black solid;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

#Opcional {
    text-align: right;
    color: white;
    font-size: 12px;
}