<app-header></app-header>

<div class="container">
    <router-outlet></router-outlet>

</div>

<div class="container">

    <table id="tabla" cellspacing="80" cellpadding="10" border="1" background="../../assets/img/Encabeazado.jpg" width="100%" height="auto">
        <tr>
            <td colspan="4">
                <h4>Batidos Tropicales</h4>
            </td>
        </tr>
        <tr>
            <td>Mora</td>
            <td>Lulo</td>
            <td>Piña</td>
        </tr>
        <tr>
            <td>Fresa</td>
            <td>Mango</td>
            <td>Banano</td>
        </tr>
        <tr>
            <td>Papaya</td>
            <td>Guayaba</td>
            <td>Maracuyá</td>
        </tr>
        <tr>
            <td>Guanabana</td>
            <td>Tomate Árbol</td>
            <td>Especial</td>
        </tr>
    </table>
    <p id="Opcional">*Opcional en agua o en leche</p>
</div>


<br />



<div class="container-fluid">
    <app-body></app-body>
    <br />
    <app-footer></app-footer>
</div>